# This is a basic workflow to help you get started with Actions

name: Build-Develop


# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  buildWindows:
    runs-on: windows-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4.1.7

      - uses: krdlab/setup-haxe@master
        with:
          haxe-version: 4.3.7
      # Runs a set of commands using the runners shell
      - name: Install Haxelib
        run: |
          haxelib --global --quiet install hmm
          haxelib --global --quiet run hmm setup
          haxelib --global --quiet update haxelib
          haxelib fixrepo
          haxelib run hmm install --quiet
        shell: cmd
      - name: Skip SScript setup mode
        run: echo 'oy9:showMacroty8:loopCosti25y10:includeAllfg' >> %USERPROFILE%/settings.cocoa
        shell: cmd
      - name: Create Version Tag
        run: echo "${{github.run_id}}" > VERSION
      - name: Compile
        run: haxelib run lime build windows -verbose -final -release"
      - name: Publish Artifact
        uses: actions/upload-artifact@v4.3.4
        with:
          name: windowsBuild
          path: export/release/windows/bin
  cancel_previous_workflows:
      runs-on: ubuntu-latest
      permissions: 
        actions: write
      
      steps:
        - name: Cancel previous workflows
          uses: styfle/cancel-workflow-action@0.9.1
          with:
            access_token: ${{ github.token }}